:root {
    --primary:#48c0c1;
    --secondary:#3c4a55;
    --ip-green:#48c0c1;
    --darknavy:#3c4a55;
    --ip-gbb:#4e3946;
    --border-lightgrey:#d6d6d6;
    --bg-lightgrey:#eee;
    --text-dark:#222;
    --text-grey:#888;
    --text-light:#fff;
    --ip-green-hover:#26a1ab;
}

.bg-lightgrey { background-color:var(--bg-lightgrey); }