:root {
    --primary:#48c0c1;
    --secondary:#3c4a55;
    --ip-green:#48c0c1;
    --darknavy:#3c4a55;
    --ip-gbb:#4e3946;
    --lightgrey-border:#d6d6d6;
    --lightgrey-bg:#eee;
    --text-dark:#222;
    --text-grey:#888;
    --text-light:#fff;
}